.btn-style {
    background-color: rgb(75, 207, 207);
}

.icon-style {
    color: black;
}

.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.very-high {
    background-color: red;
}

#current-uv {
    border-radius: 3px;
}